@model BibleVerse.DTO.RegisterViewModel
@{
    ViewData["Title"] = "Join The BibleVerse Community";
}

    <div class="center">
        <h1 class="text-center">Sign up now and join your church community!</h1>
        <div id="Errors" class="text-danger">
            <ul>
                @{
                    if (ViewBag.Errors != null)
                    {
                        foreach(string error in ViewBag.Errors)
                        {
                            <li>@error</li>
                        }
                    }
                 }
            </ul>
        </div>
        @using (Html.BeginForm("Register", "Home", FormMethod.Post))
        {
            @Html.LabelFor(x => x.Email);
            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @type = "email"});
            @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" });
            <br />
            @Html.LabelFor(x => x.UserName);
            @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" });
            @Html.ValidationMessageFor(x => x.UserName, "", new { @class = "text-danger" });
            <br />
            @Html.LabelFor(x => x.Password);
            @Html.TextBoxFor(x => x.Password, new { @class = "form-control", @type = "password" });
            @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" });
            <br />
            @Html.LabelFor(x => x.ConfirmPassword);
            @Html.TextBoxFor(x => x.ConfirmPassword, new { @class = "form-control", @type = "password" });
            @Html.ValidationMessageFor(x => x.ConfirmPassword, "", new { @class = "text-danger" });
            <br/>
            @Html.LabelFor(x => x.DOB);
            @Html.EditorFor(x => x.DOB, new { @class = "form-control" });
            @Html.ValidationMessageFor(x => x.DOB, "", new { @class = "text-danger" });
            <br />
            @Html.LabelFor(x => x.PhoneNumber);
            @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control" });
            @Html.ValidationMessageFor(x => x.PhoneNumber, "", new { @class = "text-danger" });
            <br />
            @Html.LabelFor(x => x.OrganizationID);
            @Html.TextBoxFor(x => x.OrganizationID, new { @class = "form-control" });
            @Html.ValidationMessageFor(x => x.OrganizationID, "", new { @class = "text-danger" });
            <br />

            <input type="submit" value="Register" class="btn btn-primary" />
        }
    </div>

