@model BibleVerse.DTO.PostModel;
@using BibleVerse.DTO
@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json
@{
    Layout = "../Shared/_UserLayout.cshtml";
    ViewData["Title"] = "Home";
    UserViewModel user = JsonConvert.DeserializeObject<UserViewModel>(Context.Session.GetString("user"));
    List<Posts> tlPosts = new List<Posts>();

    if(Context.Session.GetString("posts") != "No Posts Found")
    {
        tlPosts = JsonConvert.DeserializeObject<List<Posts>>(Context.Session.GetString("posts"));
    }

}
<div class="container">
    <div id="upstat">
        @Html.BeginForm("CreatePost", "BBV", FormMethod.Post)
        {
            @Html.TextAreaFor(x => x.Body)
            <input type="text" name="UserName" value="@user.UserName" hidden/>
            <input type="submit" value="Create Post"/>
        }
    </div>
    <div id="tl">
        @{
            foreach(Posts post in tlPosts)
            {
                <div id="@post.PostId" class="post">
                    <span><b>@post.Username</b></span> <span>@post.CreateDateTime.TimeOfDay</span>
                    <br/>
                    <p>@post.Body</p>
                </div>
            }
        }
    </div>
</div>
